<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Spotify Analyzer </title>    
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
		<script src="/js/index.js" type="text/javascript"></script>
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
	<div id="main1"><div id="main2">
	<form action="/search" method="get">
		<section class="section">
			<div class = "container">
				<a href="/"><h1 class="title" style="font-size: 4em; color: rgb(30,215,96);">Spotify Analyzer</h1></a>
				<p class="subtitle">Get statistics for different songs in Spotify</p>
				<div class="field">
					<div class="control">
						<input onload="" name = 'url' class="input is-rounded is-medium is-info" type="text" placeholder="Input Track, Album, or Playlist" id="input-album">
					</div>
				</div>
			</div>
		</section>
		<div class="container">
			<button id="analyze" type="submit" onclick=fadeIn() class="button is-medium is-rounded" style="background-color:rgb(30,215,96);">Analyze!</button>
		</div>
	</form>
	<div id="err" style="display:none;">

		<h1 id="err-text" class="title" style="color: red;">[value]</h1>
	</div>

	<section class="section" id="loadIn">	
		<div id="progress-bar" style="display:none;">
			<progress class="progress is-small is-dark" max="100">loading...</progress>
		</div>
		<div id="statistics" style="display:none;">
			<div class="hero is-success">
				<div class="hero-body">
					<div class="level">
						<div class="level-item has-text-centered">
							<div>
								<b><p class="title" id="album">[value]</p></b><br>
								<p class="subtitle" id="artist">[value]</p>
							</div>
							
						</div>
						<div class="level-item has-text-centered">
							<img src="#" alt="album image" width="400" height="400" id="album-image" class="link">
						</div> 
					</div>
				</div>
			</div>
			<br><br>
			<div id="stat-list">

			</div>
        </div>
	</section>
</div></div>
	</body>
</html>