* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color:#191414;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    position: absolute;
    overflow: hidden;
    /* font-size: 14px; */
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: none;
    animation-name: blend;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
}

h1 {
    text-align:center;
    font-size:2em;
}
p {
    text-align:center;
}
form {
    text-align:center;
}
.title {
    color:#ffffff;
}
p.subtitle{
    color:white;
}
p.heading {
    font-size: 16px;
    color:rgb(30,215,96);
}
.navBar {
    padding-top: 24px;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.navBar, .navBar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.Root__main-view, .Root__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
}
:root {
    --glue-font-weight-normal: 400;
    --glue-font-weight-bold: 700;
    --glue-font-weight-black: 900;
}
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}
ol {
    padding-left: 3em;
}
ol li {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    color:rgb(30,215,96);
    font-weight: bold;
    font-size: 2em;
}
li span {
    font-size: 1em;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.Root__main-view, .Root__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
}
.navBar-item--with-icon-left, .navBar-item--with-icon-right {
    position: relative;
}
.navBar-item {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-bold);
    padding: 0 8px;
}
.Root__nav-bar {
    grid-area: nav-bar;
    background-color: rgba(0,0,0,.8);
    width: 230px;
    will-change: transform;
    z-index: 3;
}
.Root__main-view, .Root__nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
}
.container {
    text-align: center;
}
table, th, td, thead, tbody {
    border: 0px;
    color: white;
    background-color:rgb(30,215,96);
}
@-webkit-keyframes logo-in {
    from {
      filter: grayscale(100%) brightness(130%);
        }
          to {
              filter: grayscale(0%) brightness(100%);
          }
      }

      @-webkit-keyframes blend {
          from {
              filter: grayscale(100%) brightness(0%);
          }
          to {
              filter: grayscale(0%) brightness(100%);
          }
      }

  @keyframes logo-in {
    from {
      filter: grayscale(100%) brightness(130%);
        }
          to {
              filter: grayscale(0%) brightness(100%);
          }
      }

      @keyframes blend {
          from {
              filter: grayscale(100%) brightness(0%);
          }
          to {
              filter: grayscale(0%) brightness(100%);
          }
      }
      .link {
        color: white;
        opacity: .5;
        transition: opacity 1s, text-shadow 1s;
        animation-name: link-out;
        animation-duration: 5s;
        animation-timing-function: ease-in;
        -webkit-animation: mover 3s infinite  alternate;
      animation: mover 3s infinite  alternate;
          }
      .link:hover {
        text-shadow: 0px 0px 36px white;
        opacity: 1;
        color: white;
        transition: opacity .5s, text-shadow .5s;
          }

          #main1{
            height: 100%;
            width: 100%;
            overflow: hidden;
        position: relative;
        }
        #main2{
            width: 100%;
            height: 99%;
            overflow: auto;
            color: #b3b3b3;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
        }
        @-webkit-keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-25px); }
            }
            @keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-25px); }
            }
